.container {
    max-width: 90vw;
    margin: 50px auto 0 auto;
    flex-wrap: wrap;
}

@media only screen and (min-width: 700px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 840px) {
    .container {
        display: flex;
        justify-content: space-around;
    }
}