@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'normalize.css';

html {
	--blue: #1a237e;
	--orange: #ff6f00;
	--backrgound-color: white;
	--hover-blue: #111855;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--backrgound-color);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: var(--blue);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
